.comment-search {
	margin-bottom: 16px;

	&__wrap {
		display: flex;
		justify-content: space-between;
	}

	&__search {
		flex: 1;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 12px;
	}

	&__search-item {
		margin-right: 0;
	}

	&__search-btn {
		margin-left: auto;
	}
}
