.login-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 550px;
  height: 100%;
  min-height: 500px;
  background-image: url("@/assets/images/login_bg.svg");
  background-position: 50%;
  background-size: 100% 100%;
  background-size: cover;
}
.login-container .dark {
  position: absolute;
  top: 5%;
  right: 3.2%;
}
.login-container .login-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 96%;
  height: 94%;
  padding: 0 4% 0 20px;
  overflow: hidden;
  border-radius: 10px;
}
.login-container .login-box .login-left {
  width: 750px;
}
.login-container .login-box .login-left img {
  width: 100%;
  height: 100%;
}
.login-container .login-box .login-form {
  padding: 40px 45px 25px;
  border-radius: 10px;
}
.login-container .login-box .login-form .login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.login-container .login-box .login-form .login-logo .login-icon {
  width: 200px;
}
.login-container .login-box .login-form .login-logo .logo-text {
  padding-left: 25px;
  font-size: 48px;
  font-weight: bold;
  white-space: nowrap;
}
.login-container .login-box .login-form .ant-form-item {
  height: 75px;
  margin-bottom: 0;
}
.login-container .login-box .login-form .ant-form-item .ant-input-prefix {
  margin-right: 10px;
}
.login-container .login-box .login-form .ant-form-item .ant-input-affix-wrapper-lg {
  padding: 8.3px 11px;
}
.login-container .login-box .login-form .ant-form-item .ant-input-affix-wrapper,
.login-container .login-box .login-form .ant-form-item .ant-input-lg {
  font-size: 14px;
}
.login-container .login-box .login-form .ant-form-item .ant-input-affix-wrapper {
  color: #bfbfbf;
}
.login-container .login-box .login-form .login-btn {
  width: 100%;
  margin-top: 10px;
  white-space: nowrap;
}
.login-container .login-box .login-form .login-btn .ant-form-item-control-input-content {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
}
.login-container .login-box .login-form .login-btn .ant-form-item-control-input-content .ant-btn {
  width: 180px;
}
.login-container .login-box .login-form .login-btn .ant-form-item-control-input-content .ant-btn span {
  font-size: 14px;
}
