.sort {
	height: 100%;
	padding: 32px 24px;
	background: #ffffff;
	border-radius: 8px;
}
.common-search-menu {
	margin-bottom: 24px;
	label {
		color: #6c757d !important;
	}
	.common-search-btn {
		margin-right: 12px;
	}
}
